@charset "ISO-8859-1";

#titleContainer {
	width: 100%;
	text-align: center;
	border: 0px;
	max-height: 250px;
	-webkit-animation: fadein 2s;
	animation: fadein 2s;
}

#pageTitle {
	font-family: 'Lobster', cursive;
	font-size: 80px;
	color: #00B2FF;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

ul li {
	width: 100px;
	-webkit-animation: fadein 2s;
	animation: fadein 2s;
}

#navLinks {
	padding-left: 40px;
	-webkit-animation: fadein 2s;
	animation: fadein 2s;
}

#carouselExampleControls {
	-webkit-animation: fadein 2s;
	animation: fadein 2s;
}

#infoContainer {
	padding-top: 100px;
	padding-left: 300px;
	padding-right: 300px;
}

#infoContainer h1 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color: #00B2FF;
	padding-top: 250px;
	padding-bottom: 10px;
}

#infoContainer #customerSupport {
	padding-top: 300px;
}

.homeImage {
	width: 400px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
}

#formContainer {
	text-align: center;
	padding-top: 40px;
}

#formContainer h1 {
	font-family: 'Lobster', cursive;
	font-size: 60px;
	color: #00B2FF;
}

#form {
	text-align: left;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 60px;
}

.form-control {
	width: 100%;
}

#footerContainer {
	padding-top: 70px;
	text-align: center;
	padding-bottom: 40px;
}

#card {
	width: 350px;
	position: relative;
	left: 50%;
	margin-left: -175px;
}

#paymentFormsPic {
	width: 350px;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	padding-bottom: 40px;
}
